.landing-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  background-color: var(--bg-color);
  padding: 2rem;
  flex-direction: row;
}

.landing-container::after {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--bg-color); /* or white with 0.7 alpha */
  opacity: 0;
  backdrop-filter: blur(0px);
  transition: opacity 0.6s ease, backdrop-filter 0.6s ease;
  z-index: 1;
  pointer-events: none;
}

.landing-container.fadeout::after {
  opacity: 1;
  backdrop-filter: blur(6px);
}

@media (max-width: 768px) {
  .landing-container {
    flex-direction: column;
    gap: 5rem;
  }
}
