:root {
  /* 🎨 Colors */
  --primary-color: #20425f;
  --secondary-color: #4c4c4c;
  --accent-color : #375359;
  --bg-color: #fdfaf6;
  --card-background: #ffffff; /* background color for cards */
  --text-color: #2a2a2a;
  --accent-color-code: #c8d3f5; /* color for the circle code */
  --accent-color-art: #f6c2d9; /* color for the circle art */
  --radius: 999px;
  --shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  --navbar-bg: #ffffff;


  /* 🖋 Typography */
  --font-header: 'Libre Baskerville', serif;
  --font-body: 'Work Sans', sans-serif;
--signature-font: 'Great Vibes', cursive;
}

